@import "@/styles/utils";

.share_section {
    padding: 30px 0px;

    background-color: #fff;

    .head {
        position: relative;

        width: 100%;

        margin: 30px 0px;
        border-top: 2px solid #d0daf3;

        p {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);

            padding: 0px 20px;

            text-align: center;
            font-family: "SCDream";
            font-weight: bold;
            font-size: 18px;

            background-color: #fff;
        }
    }

    .body {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
}

.share_item {
    .img_container {
        @include place-center;
        width: 56px;
        height: 56px;

        margin: 10px auto;
        border-radius: 50%;

        background-color: #fff;
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);

        img {
            width: 50%;
            height: 50%;

            // object-fit: contain;
        }
    }
    p {
        font-family: "SCDream";
        font-size: 16px;
    }

    &:hover {
        cursor: pointer;
    }
}

@include mobile {
    .share_section {
        .body {
            gap: 12px;
        }
    }

    .share_item {
        .img_container {
            width: 40px;
            height: 40px;

            margin: 10px auto;
            border-radius: 50%;

            background-color: #fff;
            box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);

            img {
                width: 50%;
                height: 50%;
            }
        }
        p {
            font-size: 12px;
        }
    }
}
