@import "@/styles/utils";

.lecture_redirect_card {
    position: relative;
    z-index: 0;

    aspect-ratio: 1/1;

    border-radius: 16px;

    font-family: "SCDream";
    font-size: 14px;

    overflow: hidden;
}

.body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px;

    background: rgba(0, 0, 0, 0.6);

    p {
        font-family: "SCDream";
        font-size: 14px;
        color: #fff;
    }

    button {
        display: block;
        width: 100%;
        height: 40px;

        border: 2px solid #2de39c;
        border-radius: 100px;
        padding: 5px;

        font-family: "SCDream";

        color: #2de39c;
        background-color: transparent;
        svg {
            margin: 0px 3px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.background {
    position: absolute;
    inset: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.lecture_redirect_link {
    display: none;

    margin: 10px 0px;

    a {
        span {
            font-size: 16px;
            font-family: "SCDream";
            text-align: right;
        }
        svg {
            margin: 0px 10px;
        }
        &:hover {
            color: #000;
        }
    }
}

@include mobile {
    .lecture_redirect_card {
        display: none;
    }

    .lecture_redirect_link {
        display: block;
    }
}
