@import "@/styles/utils.scss";

.question {
    width: 100%;
    max-width: 900px;

    margin: 50px auto;
    p {
        font-family: "SCDream";
        font-size: 20px;
    }
}

.options_container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin: 10px 0px;
}

@include mobile {
    .question {
        margin: 40px auto;
        padding: 0px 20px;
        p {
            font-size: 16px;
        }
    }
}
