@import "@/styles/utils.scss";

.player_wrapper {
    width: 100%;
    display: flex;
}

.player_section {
    width: 65%;
    padding: 50px;
    padding-right: 20px;

    .video_player_container {
        aspect-ratio: 16/9;
        width: 100%;

        .video_player {
            width: 100%;
            height: 100%;
        }
    }
}

.video_info {
    margin: 10px 0px;
}
.video_description {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 15px;

    background-color: #eeeeee;

    div:last-child {
        margin: 10px 0px;
    }
}

.comment_section {
    width: 35%;
    padding: 50px;
    padding-left: 20px;
}

@include mobile {
    .player_wrapper {
        flex-direction: column;
    }
    .player_section {
        width: 100%;
        padding: 20px;
    }
    .comment_section {
        width: 100%;
        padding: 20px;
    }
}

@include tablet {
    .player_wrapper {
        flex-direction: column;
    }
    .player_section {
        width: 100%;
        padding: 30px;
    }
    .comment_section {
        width: 100%;
        padding: 30px;
    }
}
