@import "@/styles/utils.scss";

.search_section {
    //padding: 50px 15px;
}

.badge_container {
    width: min(100%, 700px);
    height: 45px;
    margin: 0px auto;

    overflow: hidden;

    span:first-child {
        display: inline-block;
        height: 40px;

        margin: 5px;

        font-size: 1.2rem;
        font-weight: bold;
    }
}
