@import "@/styles/utils.scss";

.search_section {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.badge_container {
    width: min(100%, 700px);
    height: 45px;
    margin: 0px auto;

    overflow: hidden;

    span:first-child {
        display: inline-block;
        height: 40px;

        margin: 5px;

        font-size: 1.2rem;
        font-weight: bold;
    }
}

@include tablet {
    .logo_container {
        img {
            height: 150px;
        }
    }
}

@include mobile {
    .logo_container {
        img {
            height: 100px;
        }
    }
}
