@font-face {
    font-family: "Chillax";
    font-weight: bolder;
    src: url("../fonts/Chillax-Bold.woff") format("woff");
}

@font-face {
    font-family: "Chillax";
    font-weight: bold;
    src: url("../fonts/Chillax-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Chillax";
    font-weight: medium;
    src: url("../fonts/Chillax-Medium.woff") format("woff");
}

@font-face {
    font-family: "Chillax";
    font-weight: normal;
    src: url("../fonts/Chillax-Regular.woff") format("woff");
}

@font-face {
    font-family: "Chillax";
    font-weight: lighter;
    src: url("../fonts/Chillax-Light.woff") format("woff");
}
