// fonts
@import "./fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    font-size: 14px;
}

* {
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Noto Sans KR", sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
