@import "./variables.scss";

@mixin debug {
    border: 3px solid red;
}

@mixin set-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin layout {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

@mixin horizontal-center {
    display: flex;
    justify-content: center;
}

@mixin vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}
