@import "@/styles/utils.scss";

.btn_default {
    display: block;

    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}

.btn_primary_filled {
    color: #fff;
    background-color: $color-primary;
}

.btn_primary_stroke {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: #fff;
}

.btn_circle {
    display: block;
    width: 45px;
    height: 45px;

    border: 1px solid $color-primary;
    border-radius: 50%;

    color: $color-primary;
    background-color: #fff;

    font-size: 0.8rem;

    &:hover {
        cursor: pointer;
    }
}

@include mobile {
    .btn_circle {
        width: 40px;
        height: 40px;
        font-size: 0.6rem;
    }
}
