@import "@/styles/utils.scss";

.btn_default {
    display: block;

    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}

.btn_primary_filled {
    color: #fff;
    background-color: $color-primary;
}

.btn_primary_stroke {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: #fff;
}

.btn_circle {
    display: block;
    width: 60px;
    height: 60px;

    border: 1px solid $color-primary;
    border-radius: 50%;

    color: $color-primary;
    background-color: #fff;

    &:hover {
        cursor: pointer;
    }
}
