@import "@/styles/utils.scss";

.input {
    display: block;

    border-radius: 10px;
    padding: 0px 10px;
    background-color: #eaeaea;

    &:focus {
        outline: 2px solid $color-primary;
        box-shadow: 0px 0px 0px 4px rgba(0, 169, 105, 0.2);
    }
}

.input_container {
    p {
        margin: 5px 0px;
        font-weight: bold;
    }
}
