@import "@/styles/utils.scss";

.auth_page {
    position: relative;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.auth_page_background {
    position: absolute;
    z-index: -1;
    top: 0;

    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.auth_page_wrapper {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;
    max-width: 767px; //mobile breakpoint
    height: 100%;

    padding: 50px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: #fff;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
}

@include mobile {
    .auth_page_wrapper {
        border-radius: 0px;
        padding: 20px;
    }
}
