@import "@/styles/utils";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
    .carouselWrapper {
        position: relative;
        width: 100%;
        overflow: hidden;

        &:hover {
            .swipeLeft,
            .swipeRight {
                position: absolute;
                top: 45%;
                z-index: 1;
                display: block;
                padding: 8px 6px;

                border-radius: 50px;
            }
        }

        .swipeLeft,
        .swipeRight {
            display: none;
        }

        .swipeLeft {
            left: 0;
        }

        .swipeRight {
            right: 0;
        }

        .carousel {
            display: flex;
            width: 100%;

            li {
                flex: none;
                object-fit: contain;
            }
            li:hover {
                cursor: pointer;
            }
        }
    }

    .carouselItem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 350px;
        padding: 10px 0 15px;
        overflow: hidden;
        border-right: 2px solid white;
        border-left: 2px solid white;
        transition: border 300ms;

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }

    :root[color-theme="dark"] & {
        .carouselItem {
            border-right: 2px solid gray;
            border-left: 2px solid gray;
        }
    }
}

@include mobile {
    .container {
        margin-bottom: 30px;
        .carouselWrapper {
            .carouselItem {
                height: 200px;
            }
        }
    }
}
