@import "@/styles/utils.scss";

.landing-page {
    position: relative;

    width: 100%;
    max-width: 2000px;
    margin: 0px auto;

    overflow: hidden;
}

.landing-page__video-container {
    position: relative;
    z-index: 5;
    width: 100%;
    aspect-ratio: 16/9;

    img:nth-child(1) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:nth-child(2) {
        z-index: 2;
        position: absolute;
        transform: translate(-50%, -50%);

        top: 50%;
        left: 50%;

        display: block;
        width: 120px;
        height: 120px;
    }

    h1 {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        font-size: 5rem;
        color: #fff;
    }
}

.landing-page__mockup-group-wrapper {
    position: relative;

    width: 100%;
    height: 1000px;

    .landing-page__mockup-group-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        perspective: 1000px;

        img {
            display: block;
            width: 30%;
            min-width: 350px;
            max-width: 500px;

            margin: 0px auto;
        }
    }
}

.landing-page__feature-title-wrapper {
    width: 100%;

    margin: 400px auto;

    .landing-page__feature-title-container {
        width: 100%;

        display: flex;

        padding: 0px 80px;

        .landing-page__feature-title {
            width: 50%;
            color: #424242;
        }
        .landing-page__feature-subtitle {
            width: 30%;
            margin: 0px auto;
            color: #949494;
        }
    }
}

.landing-page__feature-icon-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    .landing-page__feature-icon-item {
        width: 30%;
        max-width: 300px;

        text-align: center;
        img {
            display: block;
            width: 100%;
            max-width: 250px;
            margin: 0px auto;
        }
        h1 {
            padding: 10px 0px;
            color: #00a968;
        }
        p {
            color: #424242;
        }
        &:nth-child(1) {
            transform: translateY(0px);
        }
        &:nth-child(2) {
            transform: translateY(100px);
        }
        &:nth-child(3) {
            transform: translateY(250px);
        }
    }
}

.landing-page__feature-group {
    display: block;
    margin: 0px auto;

    width: 75%;
    max-width: 1200px;
}

.landing-page__footer {
    display: block;

    margin: 100px 0px;

    img {
        display: block;
        margin: 0px auto;
    }
    p {
        padding: 80px 0px;

        font-size: 1.2rem;
        color: #a3a3a3;
        text-align: center;
    }
}
