@media screen and (max-width: 767px) {
    .landing-page__video-container {
        h1 {
            font-size: 2rem;
        }
    }
    .landing-page__title {
        margin: 200px 0px 80px 0px;
        padding: 50px 30px;
        h3 {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
    .landing-page__mockup-wrapper {
        padding: 0;
        .landing-page__mockup-container {
            display: flex;
            justify-content: center;
            width: 100%;
            .landing-page__mockup-item {
                img {
                    max-height: 300px;
                    object-fit: contain;
                }
                p {
                    font-size: 0.8rem;
                }
            }
            .landing-page__mockup-portfolio {
                width: 100%;
                left: 0;
                img {
                    width: 90%;
                    object-fit: contain;
                }
            }
        }
    }
    .landing-page__service-wrapper {
        .landing-page__service-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            margin: 50px auto;

            &:nth-child(2) {
                flex-direction: column-reverse;
            }

            .landing-page__service-item {
                display: block;
                width: 100%;
                margin: 0;

                padding: 10px 30px;
                h2 {
                    font-size: 1.8rem;
                }
                p {
                    padding: 20px 0px;
                }

                .landing-page__service-text {
                    h4 {
                        font-size: 1rem;
                    }
                    h2 {
                        font-size: 1.4rem;
                    }
                    p {
                        font-size: 0.8rem;
                    }
                    width: 100%;
                    margin: 0px auto;
                    padding: 10px 0px;
                }
            }
        }
    }
    .landing-page__content-wrapper {
        height: 1000px;
        .landing-page__content-container {
            display: flex;
            flex-direction: column;

            .landing-page__content-item {
                width: 100%;

                .landing-page__title {
                    margin: 0;
                    padding: 30px;
                    p {
                        padding: 20px 0px;
                        color: #424242;
                    }
                }

                .landing-page__content {
                }
            }
        }
    }
    .landing-page__feature-title-wrapper {
        .landing-page__feature-title-container {
            flex-direction: column;
            padding: 30px;
            .landing-page__feature-title {
                width: 100%;
                color: #424242;
            }
            .landing-page__feature-subtitle {
                width: 100%;
                margin: 20px auto;
                color: #949494;
            }
        }
    }
    .landing-page__feature-icon-container {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: center;

        .landing-page__feature-icon-item {
            width: 60%;
            max-width: 300px;

            text-align: center;
            img {
                max-width: 200px;
            }
            h1 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .landing-page__feature-group {
        position: relative;
        top: 100px;

        opacity: 0;
        margin: 0px auto;

        width: 75%;
        max-width: 1000px;
    }
    .landing-page__footer {
        display: block;

        margin: 100px 0px;

        img {
            display: block;
            width: 250px;
            margin: 0px auto;
        }
        p {
            padding: 20px 0px;
            font-size: 1rem;
        }
    }
}
