@import "@/styles/utils.scss";

.landing-page__content-wrapper {
    width: 100%;
    height: 500px;

    .landing-page__content-container {
        display: flex;

        width: 100%;
        height: 100%;

        margin: 80px 0px;

        .landing-page__content-item {
            width: 50%;

            .landing-page__title {
                margin: 0;

                p {
                    padding-right: 120px;
                    color: #424242;
                }
            }

            .landing-page__content {
                display: block;
                width: 100%;
                height: 80%;

                border-radius: 50px 0px 0px 50px;

                background: #fff;
                box-shadow: -20px 21px 40px 0px rgba(0, 0, 0, 0.15);

                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
    }
}

@include mobile {
    .landing-page__content-wrapper {
        height: auto;
        margin: 150px 0px;
        .landing-page__content-container {
            display: block;
            .landing-page__content-item {
                width: 100%;

                .landing-page__title {
                    margin: 0;
                    padding: 30px;
                    p {
                        padding: 20px 0px;
                        color: #424242;
                    }
                }

                .landing-page__content {
                    border-radius: 0px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
