@import "@/styles/utils.scss";

.nav_aside_wrapper {
    display: none;

    position: fixed;
    top: 0;
    z-index: $nav-aside-z-idx;

    width: 100vw;
    height: 100vh;

    transform: translateX(300px);
    transition: transform 0.5s ease-in-out;
}

.nav_aside_container {
    margin-top: $nav-height;
    margin-left: auto;
    margin-right: 0px;
    border-left: 1px solid #efefef;

    width: 300px;
    height: 100%;

    background-color: #fff;
}

.nav_aside_item {
    height: 60px;
    margin: 5px 0px;

    a {
        @include vertical-center;
        height: 100%;
        margin-left: 30px;
    }
}

@include mobile {
    .nav_aside_wrapper {
        display: block;
    }
}

@include tablet {
    .nav_aside_wrapper {
        display: block;
    }
}
