@import "@/styles/utils.scss";

.nav_dropdown_wrapper {
    display: block;

    position: relative;
    height: 100%;
}

.nav_dropdown_header {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 1rem;
        font-weight: bold;
    }
    span > svg {
        margin: 0px 5px;
    }
    &:hover {
        cursor: pointer;
    }
}

.nav_dropdown_container {
    position: absolute;
    top: 60px;
    left: -50%;

    width: 120px;
    max-height: 0;
    will-change: max-height;

    overflow: hidden;

    transition: max-height 0.3s ease-in-out;
}

.nav_dropdown_item {
    width: 100%;
    height: 50px;

    @include place-center;

    color: #fff;
    font-weight: bold;
    background-color: $color-primary;

    &:hover {
        cursor: pointer;
    }
}

@include tablet {
    .nav_dropdown_wrapper {
        display: none;
    }
}

@include mobile {
    .nav_dropdown_wrapper {
        display: none;
    }
}
