@import "@/styles/utils";

.label_container {
    position: relative;

    margin: 50px auto;

    border: 2px solid #0ecb81;
    border-radius: 12px;
    padding: 20px;

    background-color: #fff;

    .label {
        position: absolute;
        top: -10px;
        background-color: #fff;
        padding: 0px 10px;

        font-family: "SCDream";
        font-size: 16px;
    }
    div {
        font-family: "SCDream";
        font-size: 16px;
        line-height: 20px;

        p {
            margin-bottom: 10px;
        }
        p:last-child {
            margin: 0;
        }
    }
}

@include mobile {
    .label_container {
        p {
            font-size: 14px;
        }
        div {
            font-size: 14px;
        }
    }
}
