@import "@/styles/utils.scss";

.signin_page {
    width: 100%;
    height: 100%;
}

.signin_background {
    @include place-center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn_group {
    display: flex;
    justify-content: space-between;

    width: min(100%, 700px);
    margin: 0px auto;
}
