@import "@/styles/utils.scss";

.category_grid_container {
    margin: 0px auto;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 20px;
}

.category_grid_item {
    @include place-center;
    flex-direction: column;

    width: 110px;
    height: 110px;

    border-radius: 10px;
    border: 1px solid #dbdbdb;

    img {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    p {
        margin: 5px 0px;
        text-align: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.active {
    color: #fff;
    background-color: #0ecb81;
    box-shadow: 0px 0px 10px 1px rgba(14, 203, 129, 0.5);

    img {
        filter: invert(1);
    }
}

@include mobile {
    .category_grid_container {
        height: 70vh;
        overflow: scroll;

        grid-template-columns: repeat(3, 1fr);
    }
    .category_grid_item {
        width: 90px;
        height: 90px;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }
        p {
            font-size: 0.9rem;
        }
    }
}
