@import "@/styles/utils.scss";

.lecture_card_default {
    flex-shrink: 0;

    width: 300px;
    height: 300px;

    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

    img {
        display: block;
        width: 100%;
        height: 160px;
        object-fit: cover;

        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    &:hover {
        cursor: pointer;
    }
}

.lecture_card_body {
    display: block;
    height: 140px;

    padding: 15px;

    h3 {
        @include text-overflow(elipsis);
        margin: 5px 0px;
        font-size: 1.2rem;
    }
    p {
        @include text-overflow(elipsis);
        margin: 5px 0px;
        color: #767676;
    }
    div {
        height: 45px;
        overflow: hidden;
    }
}
