@import "@/styles/utils.scss";

@mixin card-default {
    flex-shrink: 0;

    width: 300px;

    margin: 10px;
    border-radius: 20px;

    img {
        display: block;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    &:hover {
        cursor: pointer;
    }
}

.lecture_card_default {
    @include card-default;

    height: 300px;

    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

    img {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
}

.lecture_card_body {
    display: block;
    height: 140px;

    padding: 15px;

    h3 {
        @include text-overflow(elipsis);
        margin: 5px 0px;
        font-size: 1.2rem;
    }
    p {
        @include text-overflow(elipsis);
        margin: 5px 0px;
        color: #767676;
    }
    div {
        height: 45px;
        overflow: hidden;
    }
}

// lecture_card_rank
.lecture_card_rank {
    @include card-default;

    img {
        border-radius: inherit;
    }
    .lecture_card_rank_body {
        display: flex;

        margin: 5px 0px;

        div:first-child {
            margin: 0px 15px;

            font-size: 2rem;
            font-weight: bold;
        }
    }
}

// lecture_card_light
.lecture_card_light {
    @include card-default;

    img {
        border-radius: inherit;
    }
    .lecture_card_light_body {
        margin: 5px 10px;

        h3 {
            @include text-overflow("-");
        }
    }
}
