@import "@/styles/utils.scss";

.upload_placeholder_wrapper {
    @include place-center;
    flex-direction: column;

    border-radius: 15px;
    border: 1px dashed #252525;

    background-color: #fff;

    img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    p {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    &:hover {
        cursor: pointer;
    }
}
