@import "@/styles/utils.scss";

.test_page {
    @include vertical-center;

    width: 100%;
    height: 100vh;
    z-index: -2;

    .title {
        text-align: center;
        h1 {
            margin: 10px 0px;
            font-size: 3.5rem;
            font-family: "Tendra";
            font-weight: bold;
        }
        h3 {
            margin: 10px 0px;
            font-size: 1.5rem;
            font-weight: normal;
            font-family: "SCDream";
        }
    }
}

@include mobile {
    .test_page {
        .title {
            padding: 15px;
            h1 {
                font-size: 2.5rem;
            }
            h3 {
                font-size: 1.2rem;
            }
        }
    }
}
