@import "@/styles/utils";

.question_page {
    .controller {
        @include place-center;

        margin: 20px 0px;

        span {
            margin: 0px 20px;
            font-size: 1.2rem;
        }

        button {
            width: 50px;
            height: 50px;

            border-radius: 50%;
            border: 1px solid #e1e1e1;

            color: #999999;
            background-color: #fff;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
