@import "@/styles/utils";

.question_page {
    .title {
        text-align: center;
        h1 {
            margin: 10px 0px;
            font-size: 60px;
            font-family: "Tenada";
            font-weight: bold;
        }
        p {
            margin: 10px 0px;
            font-size: 24px;
            font-weight: normal;
            font-family: "SCDream";
        }
    }

    .breadcrumb_wrapper {
        margin: 30px 0px;
    }

    .btn {
        display: block;
        margin: 50px auto;

        width: 220px;
        height: 60px;

        background-color: #0ecb81;
        color: #fff;

        font-family: "SCDream";
        font-size: 20px;
        border-radius: 12px;

        &:hover {
            cursor: pointer;
        }
    }
}

@include mobile {
}
