@import "@/styles/utils.scss";

.page_wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background: linear-gradient(117deg, #0ecb81 0%, #00a869 99.13%);

    img {
        position: absolute;
        z-index: -1;
    }

    button {
        margin: 30px 0px;
        border: 0;
    }

    button > span {
        font-family: "SCDream";
        font-weight: bolder;
        font-size: 1.5rem;
        color: #000;
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    max-width: 600px;
    aspect-ratio: 1/1;

    border: 2px solid #000;
    padding: 50px;

    background-color: #fff;

    text-align: center;

    h2 {
        font-family: "Tendra";
    }
    h1 {
        font-size: 3.5rem;
        font-family: "SCDream";
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;

    margin: 30px auto;

    div {
        width: 100%;
        height: 100%;

        @include place-center;

        line-height: 1;
        font-family: "Tenada";
        font-size: 3.5rem;
        color: #fff;

        background-color: #404040;
    }
    .img_grid {
        width: 100%;
        height: 100%;
        border: 2px solid #404040;

        background-color: #fff;

        img {
            display: block;
            object-fit: contain;
            z-index: 0;
        }
    }
}
