name: Release
on:
    push:
        branches:
            - release

jobs:
    deployment:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            - name: executing remote ssh commands using password
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{secrets.DEPLOY_SERVER_HOST}}
                  username: ${{secrets.DEPLOY_SERVER_USERNAME}}
                  password: ${{secrets.DEPLOY_SERVER_PASSWORD}}
                  port: ${{secrets.DEPLOY_SERVER_PORT}}
                  script: |
                      cd stocodi-web
                      git fetch
                      git pull origin release
                      ${{secrets.DEPLOY_SERVER_PASSWORD}} | sudo ./deploy.sh
